:root {
  font-family: Arial, Helvetica, sans-serif;
  --white: #fafafa;
  --red: #d00000;
  --dark-grey: #272727;
  font-size: 16px;
  color: var(--dark-grey);
  font-weight: 400;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#header {
  height: 100vh;
  overflow: hidden;
}

#header > .bg {
  height: 100%;
  width: 100%;
  background-image: url("../images/top/top-1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

#header > .logo-red {
  margin-left: 40px;
  width: 190px;
  height: 107px;
}

#header > .title-boutons {
  position: absolute;
  left: 5vw;
  bottom: 5vh;
}

#header > .title-boutons > .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2vh;
}

#header > .title-boutons > .title > p {
  font-weight: bold;
  color: var(--white);
}

#header > .title-boutons > .title > .top-num-active {
  font-size: 39px;
  margin-right: 35px;
}

#header > .title-boutons > .title > .top-title-active {
  font-size: 39px;
}

#header > .title-boutons > .boutons > .btn > img {
  width: 27px;
  margin-right: 13px;
}

#header > .title-boutons > .boutons > .btn > span {
  font-size: 20px;
}

#header > .title-boutons > .boutons > .btn-infos {
  background-color: var(--white);
  padding: 12px 39px 11px 13px;
  margin-right: 10px;
  border-radius: 8px;
}

#header > .title-boutons > .boutons > .btn-infos > span {
  font-size: 20px;
  color: var(--dark-grey);
}

#header > .title-boutons > .boutons > .btn-bande-annonce {
  background-color: var(--red);
  padding: 12px 24px 11px 13px;
  border-radius: 8px;
}

#header > .title-boutons > .boutons > .btn-bande-annonce > span {
  font-size: 20px;
  color: var(--white);
}

#header > .block-top::-webkit-scrollbar {
  display: none;
}

#header > .block-top {
  width: 28vw;
  height: 100vh;
  background-color: #ffffff19;
  -webkit-backdrop-filter: blur(22px);
          backdrop-filter: blur(22px);
  position: absolute;
  top: 0;
  right: 0;
  padding: 8vh 0 0 2vw;
  overflow-y: scroll;
}

#header > .block-top > div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#header > .block-top > div > input {
  display: none;
}

#header > .block-top > div > .top {
  width: 83%;
  height: 10vw;
  max-width: 380px;
  max-height: 200px;
  margin-bottom: 3vh;
  background-size: cover;
  background-position: center;
  padding: 2vh;
  cursor: pointer;
  border: none;
}

#header > .block-top > div > .top > .top-num {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--white);
}

#header > .block-top > div > .top-1 {
  background-image: url("../images/top/top-1.jpg");
}

#header > .block-top > div > .top-2 {
  background-image: url("../images/top/top-2.jpg");
}

#header > .block-top > div > .top-3 {
  background-image: url("../images/top/top-3.jpg");
}

#header > .block-top > div > .top-4 {
  background-image: url("../images/top/top-4.jpg");
}

#header > .block-top > div > .top-5 {
  background-image: url("../images/top/top-5.jpg");
}

#header > .block-top > div > .top-6 {
  background-image: url("../images/top/top-6.jpg");
}

#header > .block-top > div > .top-7 {
  background-image: url("../images/top/top-7.jpg");
}

#header > .block-top > div > .top-8 {
  background-image: url("../images/top/top-8.jpg");
}

#header > .block-top > div > .top-9 {
  background-image: url("../images/top/top-9.jpg");
}

#header > .block-top > div > .top-10 {
  background-image: url("../images/top/top-10.jpg");
}

#presentation {
  height: 100vh;
  background-color: wheat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#presentation > .sign-up-in {
  width: 30%;
  height: 100%;
  background-color: var(--red);
}

#presentation > .sign-up-in > h1 {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  color: var(--white);
  margin: 12% 18% 16% 18%;
  text-align: center;
}

#presentation > .sign-up-in > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#presentation > .sign-up-in > div > .btn-inscription, #presentation > .sign-up-in > div > .btn-connection {
  font-size: 14px;
  width: 50%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 7%;
}

#presentation > .sign-up-in > div > .btn-inscription {
  background-color: var(--dark-grey);
  color: var(--white);
}

#presentation > .sign-up-in > div > .btn-connection {
  background-color: var(--white);
}

#presentation > .sign-up-in > div > .btn-connection > a {
  text-decoration: none;
  color: var(--dark-grey);
}

#presentation > .sign-up-in > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#presentation > .sign-up-in > form > #email, #presentation > .sign-up-in > form > button {
  outline: none;
  border: none;
  height: 40px;
  border-radius: 8px;
  font-size: 12px;
  padding-left: 20px;
}

#presentation > .sign-up-in > form > #email {
  width: 80%;
  margin-bottom: 4%;
}

#presentation > .sign-up-in > form > button {
  width: 50%;
  background-color: var(--dark-grey);
  color: var(--white);
}

#presentation > .descriptions {
  width: 70%;
  height: 100%;
  background-color: var(--white);
}

#presentation > .descriptions > img {
  height: 10%;
}

#presentation > .descriptions > div {
  width: 100%;
  height: 80%;
  padding: 1% 8% 0 8%;
}

#presentation > .descriptions > div > .description {
  height: 31%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 4%;
}

#presentation > .descriptions > div > .description > .netflix-1, #presentation > .descriptions > div > .description > .netflix-2, #presentation > .descriptions > div > .description > .netflix-3 {
  height: auto;
  width: 38%;
  max-height: 200px;
  background-position: center;
  background-size: cover;
}

#presentation > .descriptions > div > .description > .netflix-1 {
  background-image: url("../images/netflix-1.jpg");
}

#presentation > .descriptions > div > .description > .netflix-2 {
  background-image: url("../images/netflix-2.jpg");
}

#presentation > .descriptions > div > .description > .netflix-3 {
  background-image: url("../images/netflix-3.png");
}

#presentation > .descriptions > div > .description > .texte {
  width: 50%;
  margin: 0 0 0 40px;
}

#presentation > .descriptions > div > .description > .texte h2 {
  font-size: 0.875rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#presentation > .descriptions > div > .description > .texte p {
  font-size: 12px;
  line-height: 17px;
}

#presentation > .descriptions > div > .description-2 > .texte {
  margin: 0 35px 0 0px;
}

#forfaits {
  height: 100vh;
  background-image: url("../images/netflix-4.png");
  background-size: cover;
  background-position: center;
  padding: 5% 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#forfaits > .nos-forfaits {
  background-color: var(--red);
  width: 15%;
  height: 40px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
}

#forfaits > .nos-forfaits > h2 {
  color: var(--white);
  font-size: 1.25rem;
}

#forfaits > .les-forfaits {
  height: 100%;
  width: 100%;
}

#forfaits > .les-forfaits > .forfait {
  position: absolute;
  background-color: var(--white);
  border-radius: 20px;
}

#forfaits > .les-forfaits > .forfait > .title-forfait {
  height: 20%;
  border-radius: 16px 16px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#forfaits > .les-forfaits > .forfait > .title-forfait > h3 {
  color: var(--white);
  font-size: 1rem;
}

#forfaits > .les-forfaits > .forfait > .title-forfait-2 {
  height: 20%;
  background-color: var(--red);
}

#forfaits > .les-forfaits > .forfait > .title-forfait-1, #forfaits > .les-forfaits > .forfait > .title-forfait-3 {
  height: 20%;
  background-color: var(--dark-grey);
}

#forfaits > .les-forfaits > .forfait > .details {
  height: 55%;
  width: 100%;
  background-color: var(--white);
  font-size: 0.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5% 15% 0 15%;
}

#forfaits > .les-forfaits > .forfait > .details > p {
  line-height: 1.25rem;
}

#forfaits > .les-forfaits > .forfait > .details > p > img {
  height: 16px;
  width: auto;
  margin-right: 10px;
}

#forfaits > .les-forfaits > .forfait > .details > .price {
  margin: 10% 0;
  color: var(--red);
  font-weight: 500;
}

#forfaits > .les-forfaits > .forfait > .details > p:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5% 0;
}

#forfaits > .les-forfaits > .forfait > .souscrire {
  height: 25%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 16px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#forfaits > .les-forfaits > .forfait > .souscrire > .btn-souscrire {
  background-color: var(--red);
  padding: 14px 24px 14px 24px;
  border-radius: 8px;
}

#forfaits > .les-forfaits > .forfait > .souscrire > .btn-souscrire > span {
  font-size: 12px;
  color: var(--white);
}

#forfaits > .les-forfaits > .forfait-1 {
  width: 18%;
  height: 58%;
  left: 24%;
  top: 30%;
  z-index: 2;
}

#forfaits > .les-forfaits > .forfait-2 {
  width: 20%;
  height: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 28%;
  z-index: 3;
}

#forfaits > .les-forfaits > .forfait-3 {
  width: 18%;
  height: 58%;
  right: 24%;
  top: 30%;
  z-index: 2;
}

footer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--dark-grey);
  color: var(--white);
  position: relative;
  padding: 8% 10% 2% 10%;
}

footer > .part1 {
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 12px;
}

footer > .part1 > h4 {
  margin-bottom: 12px;
}

footer > .grid {
  width: 100%;
  height: 20%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

footer > .grid > .part2, footer > .grid > .part3, footer > .grid > .part4, footer > .grid > .part5, footer > .grid > .part6 {
  font-size: 12px;
}

footer > .grid > .part2 > p, footer > .grid > .part3 > p, footer > .grid > .part4 > p, footer > .grid > .part5 > p, footer > .grid > .part6 > p {
  margin-bottom: 12px;
}

footer > .grid > .part6 > select {
  height: 30px;
  width: 120px;
  font-size: 12px;
  margin-bottom: 12px;
}

#header-connexion {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--white);
}

#header-connexion > .grid-container {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[15];
  -ms-grid-columns: (1fr)[14];
      grid-template: repeat(15, 1fr)/repeat(14, 1fr);
  gap: 15px;
}

#header-connexion > .grid-container > .title {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 1/1/5/5;
  background-color: var(--white);
  border-radius: 0 0 8px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

#header-connexion > .grid-container > .title > h2 {
  font-size: 2.438rem;
  font-weight: bold;
}

#header-connexion > .grid-container > .title > h2 > span {
  font-size: 1.938rem;
  font-weight: normal;
  color: var(--red);
}

#header-connexion > .grid-container > .sortie-1 > .saison, #header-connexion > .grid-container > .sortie-3 > .saison, #header-connexion > .grid-container > .sortie-4 > .saison, #header-connexion > .grid-container > .sortie-5 > .saison, #header-connexion > .grid-container > .sortie-7 > .saison, #header-connexion > .grid-container > .sortie-8 > .saison, #header-connexion > .grid-container > .sortie-9 > .saison {
  background-color: rgba(39, 39, 39, 0.62);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  padding: 10px 5px 0 5px;
}

#header-connexion > .grid-container > .sortie-1 > .saison > p, #header-connexion > .grid-container > .sortie-3 > .saison > p, #header-connexion > .grid-container > .sortie-4 > .saison > p, #header-connexion > .grid-container > .sortie-5 > .saison > p, #header-connexion > .grid-container > .sortie-7 > .saison > p, #header-connexion > .grid-container > .sortie-8 > .saison > p, #header-connexion > .grid-container > .sortie-9 > .saison > p {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-orientation: upright;
  color: var(--white);
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.25rem;
}

#header-connexion > .grid-container > .sorties {
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
}

#header-connexion > .grid-container > .sorties > .title-date {
  position: absolute;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#27272700), to(#272727));
  background: linear-gradient(#27272700, #272727);
  height: 70%;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

#header-connexion > .grid-container > .sorties > .title-date > h3 {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 45px;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
}

#header-connexion > .grid-container > .sorties > .title-date > p {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 15px;
  font-size: 18px;
  color: var(--red);
}

#header-connexion > .grid-container > .sortie-1 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: 5/1/10/3;
  background-image: url("../images/sortie/sortie-1.jpg");
  border-radius: 0 8px 8px 0;
}

#header-connexion > .grid-container > .sortie-2 {
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: 5/3/10/5;
  background-image: url("../images/sortie/sortie-2.jpg");
  border-radius: 8px;
}

#header-connexion > .grid-container > .sortie-3 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 10/1/16/5;
  background-image: url("../images/sortie/sortie-3.jpg");
  border-radius: 0 8px 8px 0;
}

#header-connexion > .grid-container > .sortie-4 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: 1/5/4/8;
  background-image: url("../images/sortie/sortie-4.jpg");
  border-radius: 0 0 8px 8px;
}

#header-connexion > .grid-container > .sortie-5 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: 4/5/7/8;
  background-image: url("../images/sortie/sortie-5.jpg");
  background-position: top;
  border-radius: 8px;
}

#header-connexion > .grid-container > .sortie-6 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 6;
  -ms-grid-column: 8;
  -ms-grid-column-span: 3;
  grid-area: 1/8/7/11;
  background-image: url("../images/sortie/sortie-6.jpg");
  border-radius: 8px;
}

#header-connexion > .grid-container > .sortie-7 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 7/5/11/9;
  background-image: url("../images/sortie/sortie-7.jpg");
  border-radius: 8px;
}

#header-connexion > .grid-container > .sortie-8 {
  -ms-grid-row: 11;
  -ms-grid-row-span: 5;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 11/5/16/9;
  background-image: url("../images/sortie/sortie-8.jpg");
  border-radius: 8px;
}

#header-connexion > .grid-container > .sortie-9 {
  -ms-grid-row: 7;
  -ms-grid-row-span: 5;
  -ms-grid-column: 9;
  -ms-grid-column-span: 2;
  grid-area: 7/9/12/11;
  background-image: url("../images/sortie/sortie-9.jpg");
  border-radius: 8px;
}

#header-connexion > .grid-container > .sortie-10 {
  -ms-grid-row: 12;
  -ms-grid-row-span: 4;
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-area: 12/9/16/13;
  background-image: url("../images/sortie/sortie-10.jpeg");
  background-position: top;
  border-radius: 8px;
}

#header-connexion > .grid-container > .voir-plus {
  -ms-grid-row: 12;
  -ms-grid-row-span: 4;
  -ms-grid-column: 13;
  -ms-grid-column-span: 2;
  grid-area: 12/13/16/15;
  background-color: var(--white);
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-connexion > .grid-container > .voir-plus > a {
  font-size: 1.938rem;
  font-weight: normal;
  color: var(--red);
  text-decoration: none;
}

#header-connexion > .grid-container > .connexion {
  -ms-grid-row: 1;
  -ms-grid-row-span: 11;
  -ms-grid-column: 11;
  -ms-grid-column-span: 4;
  grid-area: 1/11/12/15;
  background-color: var(--red);
  border-radius: 0 0 0 8px;
}

.blank {
  height: 20vh;
  background-color: var(--white);
}

@media (max-width: 748px) {
  #header > .bg {
    height: 75%;
    width: 100%;
    position: relative;
  }
  #header > .logo-red {
    position: absolute;
    margin-left: 0;
    top: 10px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #header > .title-boutons {
    position: absolute;
    left: 50%;
    bottom: 27%;
    width: 90%;
    padding: 0 20px;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  #header > .title-boutons > .title {
    display: block;
    margin: 0 0 2vh 0;
  }
  #header > .title-boutons > .title > p {
    text-align: none;
    font-weight: bold;
    color: var(--white);
  }
  #header > .title-boutons > .title > .top-num-active {
    display: none;
  }
  #header > .title-boutons > .title > .top-title-active {
    text-align: center;
    font-size: 34px;
  }
  #header > .title-boutons > .boutons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #header > .title-boutons > .boutons > .btn > img {
    width: 25px;
    margin-right: 10px;
  }
  #header > .title-boutons > .boutons > .btn > span {
    font-size: 14px;
  }
  #header > .title-boutons > .boutons > .btn-infos {
    background-color: var(--white);
    padding: 12px 30px 11px 15px;
    margin-right: 10px;
    border-radius: 8px;
  }
  #header > .title-boutons > .boutons > .btn-infos > span {
    font-size: 16px;
  }
  #header > .title-boutons > .boutons > .btn-bande-annonce {
    padding: 12px 9px 11px 9px;
  }
  #header > .title-boutons > .boutons > .btn-bande-annonce > span {
    font-size: 16px;
  }
  #header > .block-top {
    width: 100%;
    height: 25%;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
    position: static;
    padding: 0;
    overflow-y: none;
    overflow-x: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #header > .block-top > div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: scroll;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
  }
  #header > .block-top > div > input {
    display: none;
  }
  #header > .block-top > div > .top {
    width: 110px;
    height: 100%;
    margin: 0 5px;
    margin-bottom: 0;
    padding: 10px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    scroll-snap-align: start;
    -ms-scroll-snap-type: x proximity;
        scroll-snap-type: x proximity;
    scroll-padding: 0 20px;
  }
  #header > .block-top > div > .top > .top-num {
    font-weight: 500;
  }
  #presentation {
    display: block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  #presentation > .sign-up-in {
    width: 100%;
    height: 40vh;
    padding: 20px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  #presentation > .sign-up-in > h1 {
    font-size: 25px;
    margin: 5% 0 10% 0;
  }
  #presentation > .sign-up-in > div > .btn-inscription {
    background-color: var(--dark-grey);
    color: var(--white);
  }
  #presentation > .sign-up-in > div > .btn-connection {
    background-color: var(--white);
  }
  #presentation > .sign-up-in > div > .btn-connection > a {
    text-decoration: none;
    color: var(--dark-grey);
  }
  #presentation > .sign-up-in > form > #email {
    margin-bottom: 8%;
  }
  #presentation > .descriptions {
    width: 100%;
    height: 145vh;
  }
  #presentation > .descriptions > img {
    display: none;
  }
  #presentation > .descriptions > div {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  #presentation > .descriptions > div > .description {
    height: calc(100%/3);
    width: 100%;
    display: block;
  }
  #presentation > .descriptions > div > .description > .netflix-1, #presentation > .descriptions > div > .description > .netflix-2, #presentation > .descriptions > div > .description > .netflix-3 {
    height: 50%;
    width: 100%;
  }
  #presentation > .descriptions > div > .description > .texte {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 20px;
  }
  #presentation > .descriptions > div > .description > .texte h2 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
  }
  #presentation > .descriptions > div > .description > .texte p {
    font-size: 14px;
    line-height: 20px;
  }
  #presentation > .descriptions > div > .description-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  #forfaits {
    height: 88vh;
    padding: 15% 0;
    width: 100%;
  }
  #forfaits > .nos-forfaits {
    width: 80%;
    height: 52px;
  }
  #forfaits > .les-forfaits {
    width: 100%;
    height: 78%;
    margin-top: 11%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow-x: scroll;
  }
  #forfaits > .les-forfaits > .forfait {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
    background-color: var(--white);
    border-radius: 20px;
  }
  #forfaits > .les-forfaits > .forfait > .title-forfait {
    border-radius: 16px 16px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #forfaits > .les-forfaits > .forfait > .title-forfait > h3 {
    color: var(--white);
    font-size: 1rem;
  }
  #forfaits > .les-forfaits > .forfait > .title-forfait-2 {
    height: 20%;
    background-color: var(--red);
  }
  #forfaits > .les-forfaits > .forfait > .title-forfait-1, #forfaits > .les-forfaits > .forfait > .title-forfait-3 {
    height: 20%;
    background-color: var(--dark-grey);
  }
  #forfaits > .les-forfaits > .forfait > .details {
    height: 55%;
    width: 100%;
    background-color: var(--white);
    font-size: 0.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 5% 15% 0 15%;
  }
  #forfaits > .les-forfaits > .forfait > .details > p {
    line-height: 1.25rem;
  }
  #forfaits > .les-forfaits > .forfait > .details > p > img {
    height: 16px;
    width: auto;
    margin-right: 10px;
  }
  #forfaits > .les-forfaits > .forfait > .details > .price {
    margin: 10% 0;
    color: var(--red);
    font-weight: 500;
  }
  #forfaits > .les-forfaits > .forfait > .details > p:not(:first-child) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 5% 0;
  }
  #forfaits > .les-forfaits > .forfait > .souscrire {
    height: 25%;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 16px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #forfaits > .les-forfaits > .forfait > .souscrire > .btn-souscrire {
    background-color: var(--red);
    padding: 14px 24px 14px 24px;
    border-radius: 8px;
  }
  #forfaits > .les-forfaits > .forfait > .souscrire > .btn-souscrire > span {
    font-size: 12px;
    color: var(--white);
  }
  #forfaits > .les-forfaits > .forfait-1, #forfaits > .les-forfaits > .forfait-2, #forfaits > .les-forfaits > .forfait-3 {
    width: 70%;
    height: 100%;
    margin-left: 20px;
    left: 0;
    top: 0;
    -webkit-transform: none;
            transform: none;
  }
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: var(--dark-grey);
    color: var(--white);
    position: relative;
    padding: 8% 10% 2% 10%;
  }
  footer > .part1 {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 12px;
  }
  footer > .part1 > h4 {
    margin-bottom: 12px;
  }
  footer > .grid {
    width: 100%;
    height: 20%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  footer > .grid > .part2, footer > .grid > .part3, footer > .grid > .part4, footer > .grid > .part5, footer > .grid > .part6 {
    font-size: 12px;
  }
  footer > .grid > .part2 > p, footer > .grid > .part3 > p, footer > .grid > .part4 > p, footer > .grid > .part5 > p, footer > .grid > .part6 > p {
    margin-bottom: 12px;
  }
  footer > .grid > .part6 > select {
    height: 30px;
    width: 120px;
    font-size: 12px;
    margin-bottom: 12px;
  }
  footer {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
    padding: 8% 5% 2% 5%;
  }
  footer > .part1 {
    position: static;
    font-size: 12px;
    margin-bottom: 30px;
  }
  footer > .grid {
    width: 100%;
    height: 20%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  footer > .grid > .part6 > select {
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */